LOG_LEVEL=INFO

ESDL_OUTPUT_PROFILES_TYPE=POSTGRESQL
DB_HOSTNAME=omotes_postgres
DB_PORT=6432
DB_USERNAME=omotes_timeseries_rw
DB_PASSWORD=somepass4
PG_DB_TIMESERIES=omotes_timeseries

# To write profiles to InfluxDB instead:
# ESDL_OUTPUT_PROFILES_TYPE=INFLUXDB
# DB_HOSTNAME=omotes_influxdb
# DB_PORT=8096
# DB_USERNAME=root
# DB_PASSWORD=9012

MINIO_HOST=omotes-minio
MINIO_PORT=9000
MINIO_EXTERNAL_URL=http://localhost:9000
MINIO_ACCESS_KEY=omotesadmin
MINIO_SECRET=password

PREFECT_API_URL=http://localhost:4200/api
PREFECT_API_URL_FOR_WORKER=http://omotes-prefect-server:4200/api
ORCHESTRATOR_API_URL=http://omotes-orchestrator:9200
PREFECT_WORK_POOL_NAME="docker-worker"
PREFECT_API_AUTH_STRING=admin:password

PREFECT_DOCKER_WORKER_NETWORKS=omotes,mapeditor-net

PREFECT_FLOW_MAX_CONCURRENT_RUNS=4
PREFECT_FLOW_TIMEOUT_SECONDS=172800

# For deploying to prefect (will run inside local docker container or k8s pod)
# When using docker desktop you can use your local code without pushing to github first:
PREFECT_USE_LOCAL_CODE_AND_IMAGE=true
PREFECT_USE_LOCAL_SDK=true
# SIMULATOR_WORKER_VERSION not used when PREFECT_USE_LOCAL_CODE_AND_IMAGE=true:
SIMULATOR_WORKER_VERSION=0.0.0
