LOG_LEVEL=INFO

INFLUXDB_HOSTNAME=omotes-influxdb
INFLUXDB_PORT=8096
INFLUXDB_USERNAME=root
INFLUXDB_PASSWORD=9012

MINIO_HOST=omotes-minio
MINIO_PORT=9000
MINIO_EXTERNAL_HOST=omotes-minio
MINIO_ACCESS_KEY=omotesadmin
MINIO_SECRET=password

PREFECT_API_URL=http://localhost:4200/api
PREFECT_API_URL_FOR_WORKER=http://omotes-prefect-server:4200/api
PREFECT_WORK_POOL_NAME="docker-worker"
PREFECT_API_AUTH_STRING=admin:password

PREFECT_FLOW_MAX_CONCURRENT_RUNS=4
PREFECT_FLOW_TIMEOUT_SECONDS=172800

# For deploying to prefect (will run inside local docker container or k8s pod)
# When using docker desktop you can use your local code without pushing to github first:
PREFECT_USE_LOCAL_CODE_AND_IMAGE=true
PREFECT_USE_LOCAL_SDK=true
# SIMULATOR_WORKER_VERSION not used when PREFECT_USE_LOCAL_CODE_AND_IMAGE=true:
SIMULATOR_WORKER_VERSION=0.0.0
